<meta charset="UTF-8">

	
<!-- ASSINATURA: COPIAR CÓDIGO ABAIXO -->

<table bgcolor="#0089E1" width="514" style="background: #0089E1;" cellpadding="12" border="0" cellspacing="0">
	<tr>
		<td >
			<font color="#FFFFFF" face="Arial"><font size=4><%= dados.nome %></font> <br>
						<font size=2><%= dados.funcao %><br>
								<a href="mailto:<%= dados.email %>" style="color: #FFFFFF;"><%= dados.email %></a> <br>
												Fone: <%= dados.fone1 %> &bull;<%= dados.fone2 %> <br>
												<a href="http://www.adtsa.com.br" target="_blank" style="color: #FFFFFF;">www.adtsa.com.br</a></font></font>
		</td>
		<td>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</td>
		<td valign="middle" align="right">
			<a href="http://www.adtsa.com.br" target="_blank" style="color: #FFFFFF; border: 0; display: block;" ><img src="http://www.redevip.com.br/clientes/meiralins/adtsa.png" border="0" style="border: 0; display: block;" alt=""></a>
		</td>
	</tr>
</table>

