<meta charset="UTF-8">

	
<!-- ASSINATURA: COPIAR CÓDIGO ABAIXO -->

<table bgcolor="#00224B" width="514" style="background: #00224B; border-top: 6px solid #00224B; border-bottom: 6px solid #00224B" cellpadding="12" border="0" cellspacing="0">
	<tr>
		<td >
			<font color="#FFFFFF" face="Arial"><font size=4 color="#FFFFFF"><strong><%= dados.nome %></strong></font> <br>
						<font size=2><%= dados.funcao %><br>
												<a href="mailto:<%= dados.email %>" style="color: #FFFFFF;"><%= dados.email %></a> <br>
												Fone: <%= dados.fone1 %> &bull; 81 <%= dados.fone2 %> <br>
												<a href="http://www.meiralinsvw.com.br" target="_blank" style="color: #FFFFFF;">www.meiralinsvw.com.br</a> 


												</font></font>
		</td>
		<td>
			
		</td>
		<td valign="top" align="right">
		<table cellpadding="0" border="0" cellspacing="0">
			<tr>
				<td valign="top" align="right">
					<a href="http://www.meiralinsvw.com.br" target="_blank" style="color: #333333; border: 0;" ><img src="http://www.redevip.com.br/clientes/meiralins/meira-lins.png"  border="0" style="border: 0;" alt=""></a>

				
				</td>
			</tr>
			<tr>
				<td align="center">
				<br />

					  <a href="#" target="_blank" style="color: #FFFFFF; border: 0;" ><img src="http://www.redevip.com.br/clientes/meiralins/face-meiralins.png?" border="0" style="border: 0; " alt=""></a>
					
					<a href="#" target="_blank" style="color: #FFFFFF; border: 0;" ><img src="http://www.redevip.com.br/clientes/meiralins/twitter-meiralins.png?" border="0" style="border: 0; " alt=""></a> 
				</td>
			</tr>
		</table>
			
		</td>
	</tr>
</table>